.background {
  viewport-fill: red;
}

#timeLabel {
  font-size: 50;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 62%;
  y: 95%;
  fill: #f2f2f2;
}

#timeLabel2 {
  font-size: 50;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 61%;
  y: 96%;
  fill: black;
}




#myMonth {
  font-size: 30;
  font-family: Seville-Book-Italic;
  text-length: 32;
  text-anchor: end;
  x: 60%;
  y: 80%;
  fill: #f2f2f2;
}

#myDay {
  font-size: 30;
  font-family: Seville-Book-Italic;
  text-length: 32;
  text-anchor: end;
  x: 68%;
  y: 80%;
  fill: #f2f2f2;
}